{{#each partials.cardContext}}
    <div class ="card">
        <a href="https://github.com/Quaz711">
            <img src="{{card.pic}}" alt="">
            <h2>{{card.name}}</h2>
            <p>{{card.sport}}</p>
            <p>{{card.city}}, {{card.state}}</p>
        </a>
    </div>
{{/each}}